.brandcards{
position: relative;

}

.brandhead{
    padding: 6rem 0 !important;
    background-image: linear-gradient(#ff7a6e, #df1d0bd7);
    h2{
        color: #fff;
    }
}

.slidemainbrand {
    margin-top: -10rem;
  }
  

.brandcards_title{
background-color: rgba(0, 0, 0, 0.705);
padding: .2rem !important;
position: absolute;
bottom: 2.5rem;
left: 2rem;
font-weight: 600 !important;
color: #fff;
font-size: 2.2rem;
}