.brandcards{
position: relative;

}

.brandhead{
    padding: 7rem 0 !important;
}

.brandcards_title{
background-color: rgba(0, 0, 0, 0.705);
padding: .2rem !important;
position: absolute;
bottom: 2.5rem;
left: 2rem;
font-weight: 600 !important;
color: #fff;
font-size: 2.2rem;
}