.cs_hero{
    background-color: #FF6F61;
}

.cs_hero_inner{
    background-color: #fff;
}

.cs_hero_title{
    h3{
        font-weight: 700 !important;
        color: #337ab7;
    }
}

.cs_hero_p{

    h4{
        font-size: 2rem;
    }
    p{
        font-size: 1.5rem !important;
        color: rgb(82, 82, 82);
    }
}

.cs_insight{
    h3{
        font-size: 2rem;
        color: #337ab7;
    }
    h5{
        font-size: 2.5rem;
    }
}