// Carrer
.contact_bg{
    background-image: linear-gradient(rgba(255, 255, 255, 0.493), rgba(255, 255, 255, 0.329)), url("../../images/contact.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    // background-position-y: -2rem;
}
