


// Carrer
.conatct_bg1{
    background-image:  linear-gradient(#029effbe, #02a0ff), url("../../images/contactpattern.jpg");
    background-size: 20rem;
    background-position-y: center;
    background-position-x: right;
    // background-repeat: no-repeat;
    color: #fff;
}



.contact_bg{
    background-image: linear-gradient(rgba(255, 255, 255, 0.178), rgba(255, 255, 255, 0.062)), url("../../images/contact.jpg");
    background-size: 60rem;
    background-position-y: center;
    background-position-x: right;
    background-repeat: no-repeat;
    z-index: -5000 !important;
    // background-position-y: -2rem;
}


.latestbtn{
    background-color: #029effbe;
    font-weight: 600;
}