.influnce_bg{
    background-image: linear-gradient(rgba(255, 255, 255, 0.178), rgba(255, 255, 255, 0.253)), url("../../images/influnc.png");
    background-size: cover;

    background-repeat: no-repeat;

}

.influnce_btn{
    font-size: 1.7rem;
    border-radius: 50%;
}