.site_header {
  background-color: #fff;
  z-index: 2000 !important;
}

.logo {
  width: 6rem !important;
}

.logotxt {
  font-size: 2rem;
}

.nav_links{

}
.nav_links:hover{
  background-color: rgb(241, 241, 241);
  color: rgb(66, 66, 66) !important;
}

@media screen and (max-width: 780px) {
}
